{% extends "base.html" %}

  {% block content %}
    {% with msg=get_flashed_messages() %}
    {% if msg%}
        {% for m in msg%}
        <div class="container">
            <div class="alert alert-success alert-dismissible mt-5">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                <strong>Success!</strong> {{m}}
                </div>
        {% endfor %}
    {% endif %}
    {% endwith %}
    <h1 class="text-primary p-5 "> welcome to Blogpost!</h1>
{% with message=get_flashed_messages %}
{% if message %}
{% for msg in messgae%}
{{msg}}

{% endfor %}
{% endif %}
{% endwith %}

{% for p in post.items %}
<article class="media content-section mt-2 border border-white shadow-lg p-2 mb-3 bg-light rounded ">
    <img class="rounded-circle border border-white p-1" src="{{url_for('static',filename=p.author.image_file)}}">
<div class="media-body">
<div class="article-metadata">
<a class="mr-2 p-2 text-muted" href="{{url_for('userposts',id=p.id)}}">{{p.author.username}}</a>
<small class="text-muted">
    {{p.date_posted.strftime('%Y-%m-%d')}}
</small>
<hr>
<h3><a class="article-title" href="{{url_for('userposts',id=p.id)}}">{{p.title}}</a></h3>
<p class="article-content">{{p.content}}</p>
</div>
</div>
</article>
{% endfor %}
<div class="section text-center p-3">
{% for page_num in post.iter_pages() %}
{% if post.page==page_num %}
<a class="btn btn-info btn-sm" href="{{url_for('main',page=page_num)}}">{{page_num}}</a>
{% else %}
<a class="btn btn-outline-info btn-sm" href="{{url_for('main',page=page_num)}}">{{page_num}}</a>

{% endif %}
{% endfor %}
<hr class="primary">
</div>
</div>
</div>
{% endblock %}