{% extends "base.html" %}

  {% block content %}
    {% with msg=get_flashed_messages() %}
    {% if msg%}
        {% for m in msg%}
        <div class="container">
            <div class="alert alert-success alert-dismissible mt-5">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                <strong>Success!</strong> {{m}}
                </div>
        {% endfor %}
    {% endif %}
    {% endwith %}
    <h1 class="text-primary"> welcome to Blogpost!</h1>
{% with message=get_flashed_messages %}
{% if message %}
{% for msg in messgae%}
{{msg}}

{% endfor %}
{% endif %}
{% endwith %}

{% for p in post %}
<article class="media content-section mt-2 border">
    <img class="rounded article-img p-1" src="{{url_for('static',filename=p.author.image_file)}}">
<div class="media-body">
<div class="article-metadata">
<a class="mr-2" href="{{url_for('userposts',id=p.id)}}">{{p.author.username}}</a>
<small class="text-muted">
    {{p.date_posted.strftime('%Y-%m-%d')}}
</small>
<h2><a class="article-title" href="{{url_for('userposts',id=p.id)}}">{{p.title}}</a></h2>
<p class="article-content">{{p.content}}</p>
</div>
</div>
</article>
{% endfor %}
</div>
</div>
{% endblock %}