{% extends 'base.html' %}


{% block content %}
<div class="container mt-5">
<div class="border">
    <div class="container p-4">
        {% with msg=get_flashed_messages() %}
        {% if msg%}
            {% for m in msg%}
            <div class="container">
                <div class="alert alert-primary alert-dismissible p-2">
                    <strong> {{m}} </strong>
                    </div>
            {% endfor %}
        {% endif %}
        {% endwith %}
<form method="post" action="/resister">
    {{ sign_up.hidden_tag() }}
    <legend class="border-bottom mb-4 mt-4 text-secondary">Join Today</legend>

    <div class="form-group">
        {{sign_up.username.label(class="form-control-label text-primary")}}
        {% if sign_up.username.errors %}
            {{sign_up.username(class='form-control form-control-lg is-invalid')}}
        <div class="invalid-feedback">
            {% for error in sign_up.username.errors %}
                <span>{{error}}</span>
            {% endfor %}
        </div>
        {% else %}
            {{sign_up.username(class='form-control form-control-lg')}}
        {% endif %}
    </div>
    <div class="form-group">
        {{sign_up.email.label(class="form-control-label text-primary")}}
        {% if sign_up.email.errors %}
            {{sign_up.email(class='form-control form-control-lg is-invalid')}}
        <div class="invalid-feedback">
            {% for error in sign_up.email.errors %}
                <span>{{error}}</span>
            {% endfor %}
        </div>
        {% else %}
            {{sign_up.email(class='form-control form-control-lg')}}

        {% endif %}
    </div>
    <div class="form-group">
        {{sign_up.password.label(class="form-control-label text-primary")}}
        {% if sign_up.password.errors %}
        {{sign_up.password(class='form-control form-control-lg is-invalid')}}
        <div class="invalid-feedback">
            {% for error in sign_up.password.errors %}
            <span>{{error}}</span>
            {% endfor %}
        </div>
        {% else %}
        {{sign_up.password(class='form-control form-control-lg')}}
        {% endif %}
    </div>
    <div class="form-group">
        {{sign_up.confirm_password.label(class="form-control-label text-primary")}}
        {% if sign_up.confirm_password.errors %}
        {{sign_up.confirm_password(class="form-control form-control-lg is-invalid")}}
        <div class="invalid-feedback">
            {% for error in sign_up.confirm_password.errors %}
            <span>{{error}}</span>
            {% endfor %}
        </div>
        {% else %}
        {{sign_up.confirm_password(class="form-control form-control-lg")}}
        {% endif %}

    </div>
    <div class="form-group">
        {{sign_up.submit(class="btn btn-outline-primary")}}
    </div>

</form>
</div>
</div>
</div>

{%  endblock %}