{% extends 'base.html' %}


{% block content %}
<div class="container">

<form method="post" action="/resister">
    {{ sign_up.hidden_tag() }}
    <legend class="border-bottom mb-4 mt-4 text-primary">Join Today</legend>

    <div class="form-group">
        {{sign_up.username.label(class="form-control-label")}}
        {% if sign_up.username.errors %}
            {{sign_up.username(class='form-control form-control-lg is-invalid')}}
        <div class="invalid-feedback">
            {% for error in sign_up.username.errors %}
                <span>{{error}}</span>
            {% endfor %}
        </div>
        {% else %}
            {{sign_up.username(class='form-control form-control-lg')}}
        {% endif %}
    </div>
    <div class="form-group">
        {{sign_up.email.label(class="form-control-label")}}
        {% if sign_up.email.errors %}
            {{sign_up.email(class='form-control form-control-lg is-invalid')}}
        <div class="invalid-feedback">
            {% for error in sign_up.email.errors %}
                <span>{{error}}</span>
            {% endfor %}
        </div>
        {% else %}
            {{sign_up.email(class='form-control form-control-lg')}}

        {% endif %}
    </div>
    <div class="form-group">
        {{sign_up.password.label(class="form-control-label")}}
        {% if sign_up.password.errors %}
        {{sign_up.password(class='form-control form-control-lg is-invalid')}}
        <div class="invalid-feedback">
            {% for error in sign_up.password.errors %}
            <span>{{error}}</span>
            {% endfor %}
        </div>
        {% else %}
        {{sign_up.password(class='form-control form-control-lg')}}
        {% endif %}
    </div>
    <div class="form-group">
        {{sign_up.confirm_password.label(class="form-control-label")}}
        {% if sign_up.confirm_password.errors %}
        {{sign_up.confirm_password(class="form-control form-control-lg is-invalid")}}
        <div class="invalid-feedback">
            {% for error in sign_up.confirm_password.errors %}
            <span>{{error}}</span>
            {% endfor %}
        </div>
        {% else %}
        {{sign_up.confirm_password(class="form-control form-control-lg")}}
        {% endif %}

    </div>
    <div class="form-group">
        {{sign_up.submit(class="form-control form-control-lg btn btn-outline-primary")}}
    </div>

</form>
</div>

{%  endblock %}